.root
{
	-fx-font-family: "Tahoma";
}

.separator:horizontal .line
{
    -fx-border-color: black transparent transparent transparent;
}

.separator:vertical .line
{
    -fx-border-color: transparent black transparent transparent;
}

.hyperlink 
{
    -fx-text-fill: #0082df;
}

#programNameInInfo
{
    -fx-text-fill: #4ED0F1;
}